body{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    contain: content;
    background-image: url("https://i.pinimg.com/originals/a5/cb/37/a5cb3743dff2cc92af7dcb1d21cce69f.jpg");
    background-size: cover;
}

h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px; ;
    border: 2px solid black;
   
}
p.personality{
    
    word-spacing: normal;
}
.room{
    text-decoration: underline;
   font-weight: bold;
}
.payment{
    text-decoration: underline;
   font-weight: bold;
}
.button{
    border: 2px solid black;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(135, 151, 135);
    color: black;
}